page-type {

}

#type_custom{
	position: absolute;
	width: 90%;
	height: 50px;
	bottom: 18%;
	left: 5%;
	right: 5%;
}

#type_saved{
	position: absolute;
	width: 90%;
	height: 50px;
	bottom: 5%;
	left: 5%;
	right: 5%;
}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 55%;
    width: 100%;
    color: #fff;
  }

}